.product-image {
    height: 450px;
    object-fit: cover;
    width: 100%;
}

.banner {
    width: 100%;
    object-fit: cover;
    height: 500px;
}

.contenedor-P {
    padding: 20px 20px;
}

.banner-blog {
    width: 100%;
    object-fit: cover;
    height: 350px;
}